* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: Monaspace Krypton Frozen Medium, MesloLGS Nerd Font;
  font-size: 14px;
  transition: background-color .3s ease-out;
}

window#waybar {
  background: #141c26;
  color: #d8dee9;
  border-radius: 7px;
  padding: 10px 10px;
}


.modules-left,
.modules-center,
.modules-right {
  margin: 2px 5px;
  padding: 5px 5px;
}

/*NaviOS logo*/
#custom-navios {
  color: #4c566a;
  padding: 0 5px;
  font-size: 27px;
  transition: color .5s;
}

#custom-navios:hover {
  color: #c0caf5;
}


/*Main modules style*/
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#custom-gpu,
#custom-brightness,
#custom-notify,
#pulseaudio-slider,
#clock,
#mpris,
#mpd {
  margin: 0 2px;
  border-radius: 7px;
  padding: 0 7px;
  border: double 3 transparent;
  transition: border .4s;
}

#custom-notify {
  font-size: 16pt;
}


/*Main module style for hover state*/
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#custom-gpu:hover,
#custom-brightness:hover,
#custom-notify:hover,
#pulseaudio-slider:hover,
#clock:hover,
#mpris:hover,
#mpd:hover {
  border-right: double 3 #c0caf5;
  border-left: double 3 #c0caf5;
  transition: border .4s;
}


/*Groups style*/
#tooltip,
#sound,
#datetime {
  border-radius: 7px;
  padding: 0 4px;
  background: #1f262f;
  border: double 2 transparent;
  transition: border .4s;
}


/*Groups style for hover state*/
#tooltip:hover,
#sound:hover,
#datetime:hover {
  border-top: double 2 #81a1c1;
  border-bottom: double 2 #81a1c1;
  transition: border .4s;
  transition: border .4s;
}


/*Animation for battery warning*/
#battery.critical:not(.charging) {
  background: #bf616a;
  color: #c0caf5;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* Workspaces style */
#workspaces {
  padding: 3px 3px;
  border-radius: 7px;
  background: #1f262f;
}

#workspaces button {
  border-radius: inherit;
  border: double 3 transparent;
  transition:
    border .4s;
}

#workspaces button.active {
  border-top: double 3 #81a1c1;
  border-bottom: double 3 #81a1c1;
  transition:
    border .4s;
}

#workspaces button:hover {
  border-left: double 3 #c0caf5;
  border-right: double 3 #c0caf5;
  background: none;
  transition:
    border .4s;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: #c0caf5;
}
