/**
 * Nord Rofi Theme
 * Based on the Nord color palette: https://www.nordtheme.com/
 */

configuration {
  display-drun: "";
  display-combi: "Apps:";
  display-emoji: "Emoji:";
  font: "Monaspace Krypton Frozen Medium, Symbola 12, Noto Color Emoji 12";
  modi: "combi,emoji,calc";
  show-icons: true;
	icon-theme: "Nordzy-dark";
  drun-display-format:            "{name}";
  disable-history:                false;
  fullscreen:                     false;
	hide-scrollbar: true;
	sidebar-mode: false;

  combi-modi: "drun";
  icon-theme: "Nordzy-dark";
  kb-mode-next: "Tab";
  kb-mode-previous: "Shift+Tab";

    // Дополнительно очищаем конфликтующие бинды
  kb-element-next: "";
  kb-element-prev: "";

    // Опционально: меняем другие конфликтующие бинды
  kb-secondary-mode-next: "";
  kb-secondary-mode-previous: "";
  wayland: true;
}

* {
    nord0: #2E3440;   /* dark background */
    nord1: #3B4252;
    nord2: #434C5E;
    nord3: #4C566A;
    nord4: #D8DEE9;   /* light fg */
    nord5: #E5E9F0;
    nord6: #ECEFF4;
    nord7: #8FBCBB;   /* cyan */
    nord8: #88C0D0;   /* light cyan */
    nord9: #81A1C1;   /* blue */
    nord10: #5E81AC;  /* darker blue */
    nord11: #BF616A;  /* red */
    nord12: #D08770;  /* orange */
    nord13: #EBCB8B;  /* yellow */
    nord14: #A3BE8C;  /* green */
    nord15: #B48EAD;  /* purple */
    nordextra: #1C1E26;

    background:                  @nordextra;
    background-color:            @background;
    foreground:                  @nord8;
    selected-normal-foreground:  @nord13;
    selected-normal-background:  @nord8;
    normal-foreground:           @foreground;
    normal-background:           @background;
    border-color:                @nord3;
    separatorcolor:              @nord3;
}

window {
  background-color: @background;
  border:           5;
  border-color: @nord1;
  padding:          5;
  border-radius: 15px;
  width: 700;
  transparency: "real";
}

mainbox {
  background-color: @background-alt;
	border: 0%;
  border-radius: 0%;
	border-color: @accent;
  children: [ inputbar, listview ];
}

message {
    border-color: @separatorcolor;
    padding:      0px;
}

textbox {
    text-color: @foreground;
    border-color: @separatorcolor;
}

listview {
  lines: 4;
  columns: 2;
  border-color: @separatorcolor;
  spacing: 0%;
  cycle: false;
  dynamic: true;
  layout: vertical;
}

element {
  padding: 2px;
  margin: 0px;
  cursor: pointer;
  text-color: @nord4;
}

element selected {
  background-color: @selected;
  text-color: @foreground;
	border: 2px;
  border-radius: 10px;
  border-color: @border;
}
  
element-text {
  cursor: inherit;
  text-color: inherit;    
  vertical-align: 0.5;
}

element-icon {
  cursor: inherit;
  size: 48px;
}

inputbar {
    spacing:    0;
    text-color: @normal-foreground;
    padding:    2px;
    children:   [ prompt, textbox-prompt-colon, entry, case-indicator ];
}

prompt {
    spacing:    0;
    text-color: @normal-foreground;
}

entry {
    spacing:    0;
    text-color: @normal-foreground;
    expand: true;
    horizontal-align: 0;
    placeholder: "Search...";
    blink: true;
}


textbox-prompt-colon {
    expand:     false;
    margin:     0px 0.3em 0em 0em;
    text-color: @normal-foreground;
}

